@font-face {
    font-family: 'roboto';
    src: url('fonts/robotobold-xdoj-webfont.woff2') format('woff2'),
         url('fonts/robotobold-xdoj-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('fonts/robotolight-aw3r-webfont.woff2') format('woff2'),
         url('fonts/robotolight-aw3r-webfont.woff') format('woff');
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('fonts/robotoregular-3m4l-webfont.woff2') format('woff2'),
         url('fonts/robotoregular-3m4l-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('fonts/robotoregular-3m4l-webfont.woff2') format('woff2'),
         url('fonts/robotoregular-3m4l-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('fonts/robotolight-aw3r-webfont.woff2') format('woff2'),
         url('fonts/robotolight-aw3r-webfont.woff') format('woff');
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('fonts/robotobold-xdoj-webfont.woff2') format('woff2'),
         url('fonts/robotobold-xdoj-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

:root {
    --cyan-clr: #0ea5e9;
    --grey-clr: #e2e8f0;
}

* {
    font-family: 'roboto';
    font-weight: normal;
}

body {
    margin: 0;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 150px 660px;
}

.sidebar {
    padding-top: 25px;
    width: 20%;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background-color: var(--cyan-clr);
    color: #fff;
    font-weight: 900;
}

.sidebar .logo {
    padding-left: 15px;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 900;
}

.sidebar img {
    height: 100%;
    filter: invert(100%) sepia(0%) saturate(7485%) hue-rotate(139deg) brightness(100%) contrast(104%);
}

.sidebar .logo h1 {
    font-weight: 700;
}

.sidebar .sidebar_menu > div {
    margin-top: 20px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.sidebar .sidebar_menu div span {
    font-size: 1.2rem;
    font-weight: 900;
}

.sidebar .sidebar_menu > div:nth-child(2) {
    margin-top: 50px;
}

.sidebar .sidebar_menu .sidebar_menu_item {
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;   
    gap: 15px;
}

.sidebar .sidebar_menu .sidebar_menu_item:hover {
    cursor: pointer;
    background-color: #1082b8;
}

.sidebar .sidebar_menu .sidebar_menu_item:active {
    transform: scale(107%);
}

.sidebar .sidebar_menu .sidebar_menu_item img {
    height: 100%;
}

.header {
    display: grid;
    height: 150px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    box-shadow: 0px 2px 12px #94a3b8;
    z-index: 1;
    padding: 10px 0 0 20px;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    box-sizing: border-box;
}

.header .search {
    height: 55px;
    width: 500px;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    display: flex;
    align-items: center;
}

.header img {
    height: 80px;
    width: 80px;
    border-radius: 100%;
}

.header button {
    background: none;
    border: none;
}
.header .search .search_icon {
    height: 30px;
    width: 30px;
}

.header .search .search_icon:hover, .header .user .notification:hover {
    transform: scale(120%);
}

.header .search .search_icon:active, .header .user .notification:active  {
    transform: scale(140%);
}

.header .search .searchbar {
    width: 500px;
    border-radius: 25px;
    background-color: var(--grey-clr);
    border: none;
    padding-left: 10px;
    font-weight: 700;
    height: 25px;
}

.header .user {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;  
    height: 55px;
    justify-content: end;
    gap: 25px;
    padding-right: 50px;
    align-items: center;
}

.header .user button {
    height: 30px;
}

.header .notification {
    height: 100%;
    width: 100%;
}

.header .user_avatar {
    height: 45px;
    width: 45px;
}  

.header .user > div {
    font-weight: 700;
}

.header .user_greeting {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-top: 10px;
    height: 55px;
    width: 500px;
    display: flex;
    padding-left: 10px;
    gap: 15px;
    align-items: center;
    padding-bottom: 20px;
}

.header .user_greeting > img {
    height: 115%;
    width: auto;
}

.header .user_greeting div p {
    height: 1rem;
    margin: 0;
    font-weight: 700;
}

.header .user_greeting div p:first-child {
    font-size: 0.8rem;
}

.header .user_greeting div p:nth-child(2) {
    font-size: 1.4rem;
}

.header .header_buttons {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: end;
    padding-right: 50px;
    gap: 40px;
    align-items: center;
}

.header .header_buttons button {
    width: 90px;
    height: 35px;
    background-color: var(--cyan-clr);
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
}

.header .header_buttons button:hover {
    transform: scale(105%);
    box-shadow: 0 0 12px 0 var(--cyan-clr);
}

.header .header_buttons button:active {
    transform: scale(110%);
    box-shadow: none;
}

.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: var(--grey-clr);
    z-index: 0;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 350px 350px;
    box-sizing: border-box;
    padding: 15px 25px 15px 25px;
}

.content .main_content .cards {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.content h2 {
    font-weight: 700;
    font-size: 1.2rem;
}

.content .main_content .cards .card_item {
    height: 170px;
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 5px 0 #94a3b8, 
    inset 30px 0 0 -23px #eab308;
    font-size: 0.8rem;
    box-sizing: border-box;
    padding: 0 20px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content .main_content .cards .card_item:hover {
    transform: scale(105%);
    box-shadow: 0 10px 10px 0 #94a3b8, 
    inset 30px 0 0 -23px #eab308;
}

.content .main_content .cards .card_item h3 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0;
}

.content .main_content .cards .card_item .icons {
    display: flex;
    justify-content: end;
    gap: 25px;
}

.content .main_content .cards .card_item .icons button {
    background: none;
    border: none;
}

.content .main_content .cards .card_item .icons img {
    height: 22px;
    width: 22px;
}

.content .main_content .cards .card_item .icons img:hover {
    transform: scale(120%);
}

.content .main_content .cards .card_item .icons img:active {
    transform: scale(138%);
}


.content .side_content {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 300px;
}

.content .side_content .announcements_block {
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 5px 0 #94a3b8,
    box-sizing: border-box;
    padding: 0 20px 10px 20px;
}

.content .side_content .announcement {
    display: flex;
    flex-direction: column;
    height: 85px;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: normal;
    font-size: 0.7rem;
}

.content .side_content .announcement h3 {
    font-size: 0.8rem;
    font-weight: 700;
}

.content .third_content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.content .third_content .trending .trending_item > img {
    height: 45px;
    width: 45px;
    border-radius: 100%;
}