@font-face {
    font-family: 'roboto';
    src: url('fonts/robotobold-xdoj-webfont.woff2') format('woff2'),
         url('fonts/robotobold-xdoj-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('fonts/robotolight-aw3r-webfont.woff2') format('woff2'),
         url('fonts/robotolight-aw3r-webfont.woff') format('woff');
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('fonts/robotoregular-3m4l-webfont.woff2') format('woff2'),
         url('fonts/robotoregular-3m4l-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('fonts/robotoregular-3m4l-webfont.woff2') format('woff2'),
         url('fonts/robotoregular-3m4l-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('fonts/robotolight-aw3r-webfont.woff2') format('woff2'),
         url('fonts/robotolight-aw3r-webfont.woff') format('woff');
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('fonts/robotobold-xdoj-webfont.woff2') format('woff2'),
         url('fonts/robotobold-xdoj-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

:root {
    --cyan-clr: #0ea5e9;
}

* {
    font-family: 'roboto';
    font-weight: normal;
}

body {
    margin: 0;
}

.container {
    max-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: max(300px, 20%) max(1000px, 80%);
    grid-template-rows: 150px 650px;
}

.sidebar {
    padding-top: 25px;
    max-width: 300px;
    height: 100%;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background-color: var(--cyan-clr);
    color: #fff;
    font-weight: 900;
}

.sidebar .logo {
    padding-left: 15px;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 900;
}

.sidebar img {
    height: 100%;
    filter: invert(100%) sepia(0%) saturate(7485%) hue-rotate(139deg) brightness(100%) contrast(104%);
}

.sidebar .logo h1 {
    font-weight: 700;
}

.sidebar .sidebar_menu > div {
    margin-top: 20px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.sidebar .sidebar_menu div span {
    font-size: 1.2rem;
    font-weight: 900;
}

.sidebar .sidebar_menu > div:nth-child(2) {
    margin-top: 50px;
}

.sidebar .sidebar_menu .sidebar_menu_item {
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;   
    gap: 15px;
}

.sidebar .sidebar_menu .sidebar_menu_item:hover {
    cursor: pointer;
    background-color: #1082b8;
}

.sidebar .sidebar_menu .sidebar_menu_item img {
    height: 100%;
}

.header {
    height: 150px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    box-shadow: 0px 2px 12px #94a3b8;
    z-index: 1;
}

.header .search {
    height: 30px;
    width: 500px;
}

.header .search img {
    height: 100%;
}

.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #e2e8f0;
    z-index: 0;
}